



.logo {

    min-width: 145px;
    margin-left: 0px;

    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;

&-blue-header {
    color: $color-button;
}
}