
.characteristics__section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.characteristics__container {

    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.characteristics__list {
margin:0;
padding: 0;

}

.list__item {
   width:450px;
}



.list__image {

    width: 450px;
    height: 120px;
    margin: 0;
    margin-bottom: 30px;

    @include display(flex, center, center);

    background: #F5F4FA;
    border-radius: 4px;
}


.list__heading {
   
    
    margin-right: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: #212121;

}

.list__description {

    margin: 0;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;


}

.headings {
    font-weight: 700;
        font-size: 28px;
        line-height: 0.8;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {


    .headings {

            font-weight: 700;
            font-size: 28px;
            line-height: 0.8;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 30px;
        
            color: #212121;
    }

.characteristics__container {

    width: 768px;
 

}

    .characteristics__list {

        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;

    }


    .list__item {
        display: flex;
        flex-direction: column;
        width: 354px;
        margin-right: 0;

    }

    .list__image {

        margin-bottom: 30px;
        width: 354px;
        height: 120px;

    }

    .list__heading {
        width: 354px;
        margin: 0;
        margin-bottom: 10px;
        text-align: left;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #212121;

    }

    .list__description {

        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        color: #757575;
        padding-bottom: 0;


    }
}





@media (min-width:1200px) {

    .characteristics__section {
            padding-top: 94px;
            padding-bottom: 94px;
        }

    .list {
        display: flex;
    }

    .headings {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
        padding-bottom: 50px;
            color: #212121;
    }


   .headings {

    width: 1270px;
   }


    .characteristics__container {

        width: 1200px;
        margin-left: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
      
    }
    

    .characteristics__list {

        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
      
        gap: 30px;


    }

    .list__image {

        width: 270px;
        height: 120px;
        margin: 0;
        margin-bottom: 30px;

        @include display(flex, center, center);

        background: #F5F4FA;
        border-radius: 4px;
    }


    .list__heading {
        margin: 0;
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: left;

        color: #212121;

    }

    .list__description {

        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
padding-bottom: 0;
        color: #757575;


    }
}
