.footer {

    background-color: $color-bckgr-footer;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {

        width: 1200px;
        margin: 0 auto;
        display: flex;


    }

    &__address {
        margin-top: 0px;
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $color-bckgr-secondary;

        display: inline-block;
        flex-basis: content;
    }

    &__contact {

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1, 7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;

        display: inline-block;
        margin-bottom: 12px;
    }

    &__logo {
        width: 231px;
        margin: 0;
        margin-right: 94px;

    }

    &__text {
        padding-top: 10px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color-bckgr-secondary;
    }

    &__link {
        @include display;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        fill: $color-bckgr-secondary;
        border-radius: 50%;

        transition-property: background-color;
        @extend %transiton_links;

        &:hover,
        &:focus {

            background-color: $color-button-hover;
        }

    }

}



.logo-blue-footer {


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-button-hover;
}



.logo-footer {
    display: block;
    margin-bottom: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $color-bckgr-secondary;
    letter-spacing: 0.03em;
    text-decoration: none;


}

.continer-contacts-bottom {
    display: flex;
    flex-direction: column;
}


.footer-links__form {
    width: 210px;
    margin-right: 94px;

}




.email__form {
    width: 207px;
    display: flex;
    flex-direction: column;
}

.email__input::placeholder {
    color: rgba(255, 255, 255, 0.6);

}



.button {

    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-bckgr-secondary;
    background: $color-button-hover;

    &:hover,
    &:focus {
        background-color: $color-button-hover;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border-style: none;
    }

}

.submit-button {


    @include display;
    margin-left: 163px;
    margin-top: 47px;
    gap: 10px;

    transition-property: background-color, color, box-shadow;
    @extend %transition_links;

    &__icon {

        width: 24px;
        height: 24px;
        background-color: $color-button-hover;
        fill: $border;

    }

}


.list-client__link {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;

    transition-property: fill, border;
    @extend %%transition_shadow;

    &:hover,
    &:focus {

        fill: $color-button-hover;
        border: 1px solid $color-button-hover;
    }
}


.footer__text {
    padding-top: 10px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-bckgr-secondary;
}

.email__form input {

    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $color-bckgr-footer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}