
 
 .client {

  padding-top: 60px;
  padding-bottom: 60px;
  
   
  

 }

 .client__container {
    @media screen and (max-width: 479px) {
            width: 100%;
            
        }

    width: 480px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;


 }

.clients__list {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin:0;
   

 }

 .list-client__link {

    @media screen and (max-width: 479px) {
            width: 100%;
            height: 100%;
        }
     width: 210px;
     height: 92px;
     padding: 16px 32px;
     border: 1px solid #AFB1B8;
     border-radius: 4px;
     fill: #AFB1B8;
     display: flex;
     justify-content: center;

     transition-property: fill, border;
     @extend %transition_shadow;



     &:hover,
     &:focus {

         fill: $color-button-hover;
         border: 1px solid $color-button-hover;
     }
 }
 

@media screen and (min-width: 768px) and (max-width: 1199px) {


.client {

   padding-top: 60px;
   padding-bottom: 60px;
   
}
.client__container {

  width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


    .list-client__link {
            width: 226px;
            height: 92px;
           

}
}


@media (min-width: 1200px) {

.client {
    
            padding-top: 94px;
            padding-bottom: 94px;
    
    
    
    
        }



.client__container {

    width:1200px;
    
}

.clients__list {

    display: flex;
    flex-wrap: nowrap;}




.list-client__link {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;

    transition-property: fill, border;
    @extend %transition_shadow;



    &:hover,
    &:focus {

        fill: $color-button-hover;
        border: 1px solid $color-button-hover;
    }
}
.headings {
    padding:0;
    margin-bottom: 50px;
}


}