.hero {
   
  
padding-top:118px;
padding-bottom: 118px; 
    background-color: $color-bckgr-secondary;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/img-background480@1x.jpg');
    background-size: 480px 400px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {

        background-image: url('../images/img-background480@2x.jpg');
    }

    background-repeat: no-repeat;
    background-position: center center;
    background-size: content;
    background-attachment: scroll;

    &__text {
    @media screen and (max-width: 479px) {
           padding-left: 15px;
           padding-right: 15px;
        }
       
    font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $color-bckgr-secondary;
        margin-top: 0;



    }


    &__image {
    width:480px;
    margin-left: auto;
    margin-right: auto;

        
        @include display(flex, center, center);
        flex-direction: column;
    }

}

.hero {
    @media (min-width:768px) {

        padding-top: 118px;
        padding-bottom: 118px;
     
        background-color: $color-bckgr-secondary;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/img-background768@1x.jpg');
        background-size: 768px 400px;
        display: block;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url('../images/img-background768@2x.jpg');
        }

         &__image {
             width: 768px;
             margin-left: auto;
             margin-right: auto;


    }
    .hero__text {

        width:360px;
        margin-top:0;
    }
}
}

.hero {
    @media (min-width:1200px) {

        padding-top: 200px;
        padding-bottom: 200px;
      
        background-color: $color-bckgr-secondary;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/img-background1200@1x.jpg');
        background-size: 1600px 600px;
        display: block;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url('../images/img-background1200@2x.jpg');
        }
     

       .hero__text {

            margin-top: 0; 
            width: 696px;
           
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
           }

          


    }        

         


    }

    .hero {
        @media (max-width: 479px) {

&__image {
        width:auto;}
        }
    }